@model ExpenseUpsertViewModel

@{
    ViewData["Title"] = "Vytvoření výdaje";
}

<div class="text-center mb-5">
    <h1 class="display-6">Vytvoření výdaje</h1>
</div>

<form asp-controller="Expense" asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-6 col-lg-5">

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3 model-validation"></div>

            <div class="mb-3">
                <label asp-for="HouseholdMemberId" class="form-label"></label>
                <select asp-for="HouseholdMemberId" asp-items="@Model.HouseholdMembers" class="form-select">
                    <option value="">--Vyberte člena--</option>
                </select>
                <span asp-validation-for="HouseholdMemberId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ExpenseCategoryId" class="form-label"></label>
                <select asp-for="ExpenseCategoryId" class="form-select" asp-items="@Model.ExpenseCategories">
                    <option value="">--Vyberte kategorii--</option>
                </select>
                <span asp-validation-for="ExpenseCategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Amount" class="form-label"></label>
                <input asp-for="Amount" type="number" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ReceiptFile" class="form-label"></label>
                <input asp-for="ReceiptFile" type="file" class="form-control" />
                <span asp-validation-for="ReceiptFile" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between flex-wrap gap-2">
                <a asp-controller="Expense" asp-action="Index" class="btn btn-outline-primary">
                    Zpět
                </a>

                <button type="submit" class="btn btn-primary">
                    Přidat
                </button>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}