@{
    ViewData["Title"] = "Domů";
}

<div class="text-center home-page">
    <h1 class="display-6">Vítejte</h1>
    <p class="lead-text">Aplikace pro správu Vašich financí</p>

    <div class="home-image-wrapper">
        <img src="~/Images/HomePage/oli.jpeg" alt="Oli-Finance" class="home-image" />
    </div>
</div>