@{
    ViewData["Title"] = "Nenalezeno";
}

<div class="text-center home-page">
    <h1 class="display-4">Nenalezeno</h1>
    <p class="lead-text">Požadovaná stránka nebyla nalezena.</p>
    <div class="m-3">
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
            Domů
        </a>
    </div>
</div>