@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Změna hesla";
}

<div class="text-center mb-5">
    <h1 class="display-6">Změna hesla</h1>
</div>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()

    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-6 col-lg-5">

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3 model-validation"></div>

            <div class="mb-3">
                <label asp-for="CurrentPassword" class="form-label"></label>
                <input asp-for="CurrentPassword" type="password" autofocus class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between flex-wrap gap-2">
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
                    Domů
                </a>

                <button type="submit" class="btn btn-primary">
                    Změnit heslo
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}