@model IncomeCategoryUpsertViewModel

@{
    ViewData["Title"] = "Vytvoření kategorie příjmu";
}

<div class="text-center mb-5">
    <h1 class="display-6">Vytvoření kategorie příjmu</h1>
</div>

<form asp-controller="IncomeCategory" asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="row justify-content-center">
        <div class="col-11 col-sm-10 col-md-6 col-lg-5">

            <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3 model-validation"></div>

            <div class="mb-4">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" autofocus class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between flex-wrap gap-2">
                <a asp-controller="IncomeCategory" asp-action="Index" class="btn btn-outline-primary">
                    Zpět
                </a>

                <button type="submit" class="btn btn-primary">
                    Přidat
                </button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}